In [1]:
2 + 2

4

In [8]:
age = "hello", str(8)
print(type(age))

<class 'tuple'>

In [ ]:
a = 10
b = "10"
b=a
type(a)

int

In [22]:
age = 13

if age<13:
    print("you less than 13")
elif age<18:
    print("you are less than 18")
else : 
    print("you are allowed")

you are less than 18

In [25]:
year = int(input("give me years"))

if year>0 :
    if year%4==0 :
        print("leap year")
    else :
        print("not leap year")

leap year

In [94]:

for i in range(1,21):
    if i>1:
        for num in range(2,i):
            
            if i%num ==0:
                break
         
        else:
            print(i)

2
3
5
7
11
13
17
19

In [69]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [75]:
odd_numbers = [num**2 if num%2!=0 else "even" for num in range(10)]
# [expression_if_true if condition else expression_if_false for item in iterable]
print(odd_numbers)
print(odd_numbers,"hello")

['even', 1, 'even', 9, 'even', 25, 'even', 49, 'even', 81]
['even', 1, 'even', 9, 'even', 25, 'even', 49, 'even', 81] hello

In [81]:
my_set = {"hellow",8,"how",4,"abs"}
print(my_set)

{4, 'abs', 'hellow', 'how', 8}

In [85]:
list = [22,24,["djfd",33],["hello"]]
print(list[2][0])

djfd

In [43]:
dict = {"name":"test", "age": 43}
print(type(dict))
dict["name"]
dict["new"] = "number"
print(dict)

<class 'dict'>
{'name': 'test', 'age': 43, 'new': 'number'}

In [109]:
numbers = [1,2,2,2,3,3,3,3,4,4,4,4]

frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number]= frequency[number]+1
        print(frequency)
    else: 
        frequency[number] = 1
        print(frequency)

print(frequency)

{1: 1}
{1: 1, 2: 1}
{1: 1, 2: 2}
{1: 1, 2: 3}
{1: 1, 2: 3, 3: 1}
{1: 1, 2: 3, 3: 2}
{1: 1, 2: 3, 3: 3}
{1: 1, 2: 3, 3: 4}
{1: 1, 2: 3, 3: 4, 4: 1}
{1: 1, 2: 3, 3: 4, 4: 2}
{1: 1, 2: 3, 3: 4, 4: 3}
{1: 1, 2: 3, 3: 4, 4: 4}
{1: 1, 2: 3, 3: 4, 4: 4}

In [111]:
dict1 = {"a":1, "b":2}
dict2 = {"b":3, "c":4}
merged_dict = dict1 | dict2
print(merged_dict)
merged_dict_method2 = {**dict1,**dict2}
print(merged_dict_method2)

{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

In [44]:
numbers = (2 , "hello",7,3,4, 8)
a,*b,c = numbers
print(a)
print(b)
print(c)
print(a,b,c)
print((numbers + numbers))
type(a)

2
['hello', 7, 3, 4]
8
2 ['hello', 7, 3, 4] 8
(2, 'hello', 7, 3, 4, 8, 2, 'hello', 7, 3, 4, 8)

int

In [32]:
# doing this lets you give default parameter to function.
def greet(name= "hello"):
    print(f"you are welcome, {name}")
greet("check")

you are welcome, check

In [39]:
value = {"name" : "check", "age": "33"}

for x,y in value.items():
    print(x,y)

name check
age 33

In [55]:
# * lets you define positional argument that is being used to get all the input as parameters.
def any_fun(*check): 
    print(check)
any_fun(3) 
#good habit is that you write *arg

(3,)

In [58]:
# ** lets you define key value arguments. same but for key value pair. good habit **kwargs

def fun(**kwarg):
    for x,y in kwarg.items():
        print(f"{x}:{y}")
fun(name="check",age=33)

name:check
age:33

In [64]:
def mixed(*arg, **kwarg):
    for x in arg:
        print(f"came from here:{x}")
    for key, value in kwarg.items():
        print(f"{key}:{value}")

In [65]:
mixed(37,"hewjf",(87,"hdfjd"),dfdf = "jsojfe", daHSD = 766)

came from here:37
came from here:hewjf
came from here:(87, 'hdfjd')
dfdf:jsojfe
daHSD:766

In [67]:
#can return multiple parameters from functions

def multiply(a,b):
    return a,a*b,a+b
multiply(2,4)

(2, 8, 6)

In [72]:
def is_palindrome(input):
    input = input.lower().replace(" ","")
    print(input[::-1])
    return input==input[::-1]
is_palindrome("amas")

sama

False

In [ ]:
# we can use lambda function when there is only on operation that we want to do. it's an 
# annonumes function(has not name) 
#syntax "lambda argument : expression"
lambda arg: arg+1

variable = lambda arg: arg+1
print(variable(3))
type(variable)

4

function

In [78]:
iseven = lambda n:n%2==0
print(iseven(4))
print(iseven(7))

True
False

In [ ]:
# map : it applies function to each and every item of iterables.
# it takes two or more arguments. first one is the function that you want to apply to every element.
# and second is the iterables where you will going to iterate. it could be list, tuples, anything
# it works on lazy loading that why we need to convert it into using list()
numbers = [1,2,3,4,5]
def squre(x):
    return x*x
print(list(map(squre,numbers)))
print(tuple(map(squre,numbers)))

[1, 4, 9, 16, 25]
(1, 4, 9, 16, 25)

In [83]:
list(map(lambda x:x+2,numbers))

[3, 4, 5, 6, 7]

In [84]:
number1 = [1,2,3]
number2 = [4,5,6]
list(map(lambda x,y: x*y, number1, number2))

[4, 10, 18]

In [89]:
number1 = [1,2,3]
number2 = [4,5,6]
print(list(map(lambda x,y: x-y, number1, number2)))
print(list(map(lambda x,y: x-y, number2, number1)))
print(list(map(lambda x,y,z: x+y+z, number1,number2,number2)))

[-3, -3, -3]
[3, 3, 3]
[9, 12, 15]

In [98]:
people = [
    {"name":"check","age": 33},
    {"name":"check2","age": 36}
]
def get_name(dict):
    return dict["name"]
print(get_name(people[0]))

print(list(map(get_name,people)))

print(list(map(lambda x:x["name"],people)))
print(list(map(lambda x:x["age"],people)))

check
['check', 'check2']
['check', 'check2']
[33, 36]

In [104]:
# filter : it filters out element based on condition. condition is given by function.
# if function returns true then only it filetrs it out. other wise not. syntax is same as map
num = [1,2,3,4,5,6,7,8,9]
def is_even(x):
    return x%2==0

print(list(filter(is_even, num)))
# want to filter number which are greater than five
print(list(filter(lambda x:x>5,num)))
# want to filter number which is even and greater than five
print(list(filter(lambda x:x%2==0 and x>5,num)))

[2, 4, 6, 8]
[6, 7, 8, 9]
[6, 8]