In [1]:
2 + 2

4

In [8]:
age = "hello", str(8)
print(type(age))

<class 'tuple'>

In [19]:
a = 10
b = "10"
b=a
type(a)

int

In [22]:
age = 13

if age<13:
    print("you less than 13")
elif age<18:
    print("you are less than 18")
else : 
    print("you are allowed")

you are less than 18

In [25]:
year = int(input("give me years"))

if year>0 :
    if year%4==0 :
        print("leap year")
    else :
        print("not leap year")

leap year

In [94]:

for i in range(1,21):
    if i>1:
        for num in range(2,i):
            
            if i%num ==0:
                break
         
        else:
            print(i)

2
3
5
7
11
13
17
19

In [69]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [75]:
odd_numbers = [num**2 if num%2!=0 else "even" for num in range(10)]
# [expression_if_true if condition else expression_if_false for item in iterable]
print(odd_numbers)
print(odd_numbers,"hello")

['even', 1, 'even', 9, 'even', 25, 'even', 49, 'even', 81]
['even', 1, 'even', 9, 'even', 25, 'even', 49, 'even', 81] hello

In [81]:
my_set = {"hellow",8,"how",4,"abs"}
print(my_set)

{4, 'abs', 'hellow', 'how', 8}

In [85]:
list = [22,24,["djfd",33],["hello"]]
print(list[2][0])

djfd

In [1]:
dict = {"name":"test", "age": 43}
type(dict)
dict["name"]
dict["new"] = "number"
print(dict)

{'name': 'test', 'age': 43, 'new': 'number'}

In [109]:
numbers = [1,2,2,2,3,3,3,3,4,4,4,4]

frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number]= frequency[number]+1
        print(frequency)
    else: 
        frequency[number] = 1
        print(frequency)

print(frequency)

{1: 1}
{1: 1, 2: 1}
{1: 1, 2: 2}
{1: 1, 2: 3}
{1: 1, 2: 3, 3: 1}
{1: 1, 2: 3, 3: 2}
{1: 1, 2: 3, 3: 3}
{1: 1, 2: 3, 3: 4}
{1: 1, 2: 3, 3: 4, 4: 1}
{1: 1, 2: 3, 3: 4, 4: 2}
{1: 1, 2: 3, 3: 4, 4: 3}
{1: 1, 2: 3, 3: 4, 4: 4}
{1: 1, 2: 3, 3: 4, 4: 4}

In [111]:
dict1 = {"a":1, "b":2}
dict2 = {"b":3, "c":4}
merged_dict = dict1 | dict2
print(merged_dict)
merged_dict_method2 = {**dict1,**dict2}
print(merged_dict_method2)

{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

In [18]:
numbers = (2 , "hello", 8)
yesname = numbers
print(yesname)

(2, 'hello', 8)